body{
    /* background: #626868; */
    width: 100vw;
    height: 100vh;
    /* width: 100vw; */
}
.ChatInterface{
    position: relative;
}
::placeholder {
    color: rgb(10, 1, 1);
    opacity: 1; /* Firefox */
  }
.chat-box{
    /* width: 100vw; */
    height: 90vh;
    display: flex;
    z-index: 1;
    
  
}

@media (max-width:835px) {
    .chat-box{
        display: flex;
        flex-direction: column;
    }  
    .chat-log2{
        max-width: 100vw;
    }
}

.prompt_area{
    z-index: 2;
    position: fixed;
    bottom: 0;
    width:100%;
    display: flex; 
    
    justify-content: center;
   align-items: center; 
    position: absolute; 
    /* backdrop-filter: blur(70px); */
    /* display: flex; */
  
    /* left: 0;
    right: 0; */
   
    
    

}

.prompt_area_field{
    
    width:90vw; 
    /* border-radius: 20px; */
    border-radius: 24px;
    /* outline: invert; */
    /* background: rgba(0, 0, 0, 0.25); */
    /* background: linear-gradient(180deg, rgba(10, 6, 21, 0.18) 0%, rgba(10, 113, 95, 0.25) 100%); */
    backdrop-filter: blur(10px);
     padding: 8px; 
     color: rgb(255, 255, 255);
     font-size: larger;
    /* padding-right: 14px; */ 
}


.chat-log1{
    z-index: 1;
    background: #000000;
    
    /* border: 3px solid #FDC82F; */
    /* border: 3px solid #3FAEFF; */
    /* background: linear-gradient(180deg, rgba(255, 0, 255, 0.20) 0%, rgba(255, 214, 255, 0.00) 100%), linear-gradient(180deg, rgba(223, 179, 255, 0.95) 0%, rgba(145, 42, 220, 0.00) 100%);; */
    /* background: #626868; */
    /* max-width: 50%; */
    height: 90vh; 
  
    text-align: left;
    flex: 1; /* This equally distributes the width of .chat-box to .chat-log1 and .chat-log2 */
    /* max-height: calc(100% - 70px);  */
    /*adjust the subtraction value based on your .prompt_area height */
    /* overflow: auto;  */
    overflow: auto;
    color: aliceblue;

}
.chat-banner1{
     
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 10px;
    border-top: 5px solid  #3FAEFF;

    border-bottom: 5px solid #000 #3FAEFF;

    border-left: 5px solid #000 #3FAEFF; */

    background: #000;
    
    /* justify-content: center; */
    /* border: 1px solid rgb(241, 231, 231); */
    /* width: 100%;
    height: 45px;
    flex-shrink: 0; */
}
.chat-banner1 img{
    position: relative;
    width: 100%;
    height: 4%;
}
.banner-overlay-text-gpt{
    position: absolute;
}
.chat-banner2{
    display: flex;
    align-items: center;
    /* background: rgba(81, 170, 154, 0.56); */
    /* background: #9B8927; */
    background: #000000;
    /* border: 1px solid  (#000000, #3FAEFF); */
    border-top: 2px solid #FA5252;

    border-right: 2px solid #FA5252;

    border-bottom: 2px solid #FA5252;
    border-left: 2px #000;

    background: #000;
    /* padding-left: 20px; */
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
    height: 45px;
    flex-shrink: 0;
}
.chat-log2{
    z-index: 1;
    /* background: #FDC82F; */
    background: #000000;
    /* border: 3px solid #FA5252;  */
    /* background: linear-gradient(180deg, rgba(135, 172, 254, 0.20) 0%, rgba(187, 208, 255, 0.00) 100%), linear-gradient(180deg, #6E7EFF 0%, rgba(15, 23, 89, 0.00) 100%); */
    /* background: #FFE2FE; */
    /* width: 50vw; */
    height: 90vh;
    color: black;
   
    text-align: left;
    flex: 1; /* This equally distributes the width of .chat-box to .chat-log1 and .chat-log2 */
    /* max-height: calc(100% - 70px);  */
    /* adjust the subtraction value based on your .prompt_area height */
    /* overflow: auto;  */
    overflow: auto;

}
/* .chat-request{
    padding: 20px;
    height: 500px;
    max-width: 45vw;
    
} */

.test{
    border-color: #da1b1b;
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.chat-message.chatgpt{
    display: flex;
    /* border-radius: 30px; */
    /* background: rgba(203, 69, 203, 0.45); */
    /* background: #161616; */
    background: #0A0A0A;
    /* border-color: red; */
    
}


.chat-message.bardcolor{
    /* background: rgba(81, 19, 81, 0.33); */
    /* background:#E4BC2F ; */
    
   
    border: 1px solid red;

    background: #0A0A0A;
    /* mix-blend-mode: color-burn; */
   
    
    
}
.question{
    border-radius: 30px;
    border: 5px solid #3FAEFF;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    display:flex;
    text-align:justify;
    flex-direction: column;
  
    width: auto;
     /* padding-left: 5%;  */
}
.question-and-avatar{
    display: flex;
    
}
.answer{
    border-radius: 5px 5px 30px 30px;
    border: 3px solid #3FAEFF;
    margin: 2%;
    padding: 1%;
    background: #0A0A0A; /* Add this line */
    
    
}

.avatar{
    /* display: flex; */
    margin-left: 4px;
    
    /* padding-top: 20px; */
    padding-left: 10px;
    background: #1a0404;
    border-radius: 50%;

    color: rgb(243, 243, 247);
    width: 40px;
    height: 40px;
}

.avatar.chatgpt{
    width: 40px;
    /* display: flex; */
    
    /* padding-top: 20px; */
    padding-left: 10px;
    background: #da1b1b;
    border-radius: 50%;
    
    color: rgb(243, 243, 247);
    /* width: 40px; */
    height: 40px;
}