body{
    /* background: #626868; */
    max-width: 100%;
    /* width: 100vw; */
}

.chat-box{
    display: flex;
    position: relative;

    

}
.prompt_area{
   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 50px;
    width: 90%; 
    padding-left: 40px;
    padding-right: 40px;
    /* widt
     padding: 14px; 
    /* padding-right: 14px; */


}

.prompt_area_field{
    width: 100%; 
    /* border-radius: 20px; */
    border-radius: 24px;
    outline: invert;
    background: rgba(0, 0, 0, 0.25);
     padding: 8px; 
     color: aliceblue;
     font-size: larger;
    /* padding-right: 14px; */ 
}


.chat-log1{
    background: #626868;
    width: 50%;
    height: 550px;
    /* padding: 20px; */
    /* display: flex;
    flex-direction: row; */
    text-align: left;
    flex: 1; /* This equally distributes the width of .chat-box to .chat-log1 and .chat-log2 */
    max-height: calc(100% - 80px); /* adjust the subtraction value based on your .prompt_area height */
    overflow: auto; 

}
.chat-log2{
    background: #FFE2FE;
    width: 50%;
    height: 580px;
    /* display: flex;
    flex-direction: row; */
    text-align: left;
    flex: 1; /* This equally distributes the width of .chat-box to .chat-log1 and .chat-log2 */
    max-height: calc(100% - 80px); /* adjust the subtraction value based on your .prompt_area height */
    overflow: auto; 

}
/* .chat-request{
    padding: 20px;
    height: 500px;
    max-width: 45vw;
    
} */

.test{
    max-width: 480px;
    display: flex;
    padding: 12px;
}
.chat-message.chatgpt{
    background:#353740;
    /* padding-top: 20px; */
    /* height: 500px;  */
    
    
}



.avatar{
    /* display: flex; */
    margin-left: 4px;
    /* padding-top: 20px; */
    padding-left: 10px;
    background: #1a0404;
    border-radius: 50%;

    color: rgb(243, 243, 247);
    width: 40px;
    height: 40px;
}

.avatar.chatgpt{
    /* display: flex; */
    margin-left: 4px;
    /* padding-top: 20px; */
    padding-left: 10px;
    background: #da1b1b;
    border-radius: 50%;
    
    color: rgb(243, 243, 247);
    width: 40px;
    height: 40px;
}